* {
	font-family: 'Montserrat', sans-serif;
	
}

body {
	margin: 0;
	padding: 0;
	color: #0E0B16;
	background-color: #E7DFDD;
}

main {
	padding: 20px;
}

header {
	background: linear-gradient(to right, #A239CA, #4717F6);
	padding: 40px;
	padding-left: 20px;
	color: #E7DFDD;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

h1 {
	margin: 0;
	font-size: 24px;
	flex: 1;
}

nav {
	flex: 1;
	text-align: right;
	margin-top: 10px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-left: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
}

@media (max-width: 1007px) {
	header {
		padding: 10px;
	}
	h1 {
		flex-basis: 100%;
		margin-bottom: 10px;
		text-align: center;
	}
	nav {
		flex-basis: 100%;
		text-align: center;
	}
	nav ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	nav li {
		margin: 10px;
	}
	main {
		text-align: center;
	}
	iframe {
		width: 80%;
	}
}

iframe {
	margin-top:20px;
}
  
  /* Image slider */

 .slider {
  width: 800px; /* Set the width of the slider */
  height: 400px; /* Set the height of the slider */
  position: relative;
  overflow: hidden;
}

.slider-container {
  display: flex;
  width: calc(800px * 3); /* Set the width of the slider container to 3x the width of the slider */
  transition: transform 0.5s ease-in-out;
}

.slider img {
  width: 800px; /* Set the width of the images to match the width of the slider */
  height: 400px; /* Set the height of the images to match the height of the slider */
  object-fit: cover; /* Use object-fit to prevent stretching */
  margin-right: 20px; /* Add margin to the right of each image to prevent overlap */
}

.slider img:last-child {
  margin-right: 0; /* Remove the margin from the last image to prevent excess space */
}

.slider-prev,
.slider-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

.slider-prev:hover,
.slider-next:hover {
  color: #A239CA;
}

.slider-prev {
  left: 10px;
}

.slider-next {
  right: 10px;
}
